.sl-btn {
  font-size: 14px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;

  margin: 10px 0;

  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .2s cubic-bezier(.645,.045,.355,1);
  user-select: none;
  touch-action: manipulation;
  line-height: 1.5714285714285714;
  &.sl-btn-default {
    background-color: #ffffff;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
    &:not(:disabled):hover,&:not(:disabled):focus {
      color: #4096ff;
      border-color: #4096ff;
    }
    &:not(:disabled):active {
      color: #0958d9;
      border-color: #0958d9;
    }
    &:disabled {
      cursor: not-allowed;
      border-color: #d9d9d9;
      color: rgba(0,0,0,.25);
      background-color: rgba(0,0,0,.04);
      box-shadow: none;
    }
  }
  &.sl-btn-primary {
    background-color: #1677ff;
    color: #fff;
    box-shadow: 0 2px 0 rgba(5,145,255,.1);
    &:not(:disabled):hover,&:not(:disabled):focus {
      color: #fff;
      background-color: #4096ff;
    }
    &:not(:disabled):focus-visible {
      outline: 4px solid #91caff;
      outline-offset: 1px;
      transition: outline-offset 0s,outline 0s;
    }
    &:disabled {
      cursor: not-allowed;
      border-color: #d9d9d9;
      color: rgba(0,0,0,.25);
      background-color: rgba(0,0,0,.04);
      box-shadow: none;
    }
  }
  &.sl-btn-dashed {
    background-color: #fff;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(0,0,0,.02);
    border-style: dashed;
    &:not(:disabled):hover,&:not(:disabled):focus {
      color: #4096ff;
      border-color: #4096ff;
    }
    &:not(:disabled):active {
      color: #0958d9;
      border-color: #0958d9;
    }
    &:not(:disabled):focus-visible {
      outline: 4px solid #91caff;
      outline-offset: 1px;
      transition: outline-offset 0s,outline 0s;
    }
    &:disabled {
      cursor: not-allowed;
      border-color: #d9d9d9;
      color: rgba(0,0,0,.25);
      background-color: rgba(0,0,0,.04);
      box-shadow: none;
    }
  }
  &.sl-btn-text {
    &:not(:disabled):active,&:not(:disabled):hover {
      color: rgba(0,0,0,.88);
      background-color: rgba(0,0,0,.15);
    }
    &:not(:disabled):focus-visible {
      outline: 4px solid #91caff;
      outline-offset: 1px;
      transition: outline-offset 0s,outline 0s;
    }
    &:disabled {
      cursor: not-allowed;
      color: rgba(0,0,0,.25);
    }
  }
  &.sl-btn-link {
    color: #1677ff;
    &:not(:disabled):active,&:not(:disabled):hover {
      color: #0958d9;
    }
    &:not(:disabled):focus-visible {
      outline: 4px solid #91caff;
      outline-offset: 1px;
      transition: outline-offset 0s,outline 0s;
    }
    &:disabled {
      cursor: not-allowed;
      color: rgba(0,0,0,.25);
    }
  }
}